@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
}

.toggle-icon-light {
    display: inline-block;
}

.dark .toggle-icon-light {
    display: none;
}

.dark .toggle-icon-dark {
    display: inline-block;
    fill: white;
}

.invert-white {
    filter: invert(100%);
}
